#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env


melonjs-client/node/
melonjs-client/node_modules/
melonjs-client/public/
melonjs-client/dist/
melonjs-client/src/main/resources/META-INF/resources/generated/
.DS_Store
melonjs-client/package-lock.json
melonjs-client/target/
melonjs-client/src/main/client/config.js

cat-client/node/
cat-client/node_modules/
cat-client/public/
cat-client/dist/
cat-client/src/main/resources/META-INF/resources/generated/*
.DS_Store
cat-client/package-lock.json
cat-client/target/
cat-client/src/main/client/config.js

quarkus-server/target/
cat-server/target/

*.class


